@import "tailwindcss";

:root {
  --background-rgb: 234, 240, 206;
  --foreground-rgb: 63, 51, 77;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 37,31, 71;
    --foreground-rgb: 226, 192, 252;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
