@import "tailwindcss";

html {
  font-size: 1.25rem;
}

:root {
  --background-rgb: 234, 240, 206;
  --foreground-rgb: 63, 51, 77;
}

.colorSchemeDark {
  --background-rgb: 37,31, 71;
  --foreground-rgb: 226, 192, 252;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  transition: background 0.25s, color 0.1s;
}

code {
  font-family: mono;
  font-size: 0.85rem;
}

pre {
  background-color: #1F2028;
  padding: 16px;
  border-radius: 8px;
} 

pre [data-highlighted-line] {
  background-color: #ffffff22
}

@custom-variant dark (&:where(.colorSchemeDark, .colorSchemeDark *));
